
	<div class="container">	
		<div class="row">
				
			<div class="col-sm-10">

				<h1 class="pageTitle">Avaliação do Estagiário</h1>	
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<h3>Bruno da Costa Silva</h3>
			</div>
			<div class="col-sm-offset-1 col-sm-2">
				<h3>Ciclo: 2</h3>
			</div>
			<div  class="col-sm-3">
				<h3>Cargo: Programador</h3>
			</div>
		</div> 

		<div  ng-controller="avaliarEstagiarioCtrl" class="avaliacaoForm">

			  	<div ng-show="current==0">
				<form name="avaliacaoForm0"  class="panel panel-primary">

				  	<!-- Default panel contents -->
				  	<div class="panel-heading bg-primary"">Técnica</div>
					<div class="panel-body bg-info">
						<p>{{indicadores[0][0]}}</p>
					</div>

				 	<!-- List group -->
				  	<ul class="list-group">
				    	<li class="list-group-item"><span class="indicadorText">{{indicadores[0][1]}}</span>
					    	<select ng-required="true" class="indicadorValue form-control" ng-model="avalicao.tecnica1" name="indicador1">
					    		<option value=""></option>
					    		<option value="1">1</option>
					    		<option value="2">2</option>
					    		<option value="3">3</option>
					    		<option value="4">4</option>
					    	</select>
				        </li>
					    <li class="list-group-item"><span class="indicadorText">{{indicadores[0][2]}}</span>
					    	<select ng-required="true" class="indicadorValue form-control" ng-model="avalicao.tecnica2"  name="indicador2">
					    		<option value="" defaut></option>
					    		<option value="1">1</option>
					    		<option value="2">2</option>
					    		<option value="3">3</option>
					    		<option value="4">4</option>
					    	</select>
					    </li>
					    <li class="list-group-item"><span class="indicadorText">{{indicadores[0][3]}}</span>
					    	<select ng-required="true" class="indicadorValue form-control" ng-model="avalicao.tecnica3"  name="indicador3">
					    		<option value="" defaut></option>
					    		<option value="1">1</option>
					    		<option value="2">2</option>
					    		<option value="3">3</option>
					    		<option value="4">4</option>
					    	</select>
					    </li>
					    <li class="list-group-item"><span class="indicadorText">{{indicadores[0][4]}}</span>
					    	<select ng-required="true" class="indicadorValue form-control" ng-model="avalicao.tecnica4"  name="indicador4">
					    		<option value="" defaut></option>
					    		<option value="1">1</option>
					    		<option value="2">2</option>
					    		<option value="3">3</option>
					    		<option value="4">4</option>
					    	</select>
					    </li>
				  	</ul>	
				  	<ul class="pager">
					 
					    <li ><button class="pager__button"  ng-show='!(current==5)' ng-disabled="teste=(avaliacaoForm0.$invalid)" ng-class="!teste ? 'btn btn-primary' : 'btn btn-primary'" ng-click="next()">Próximo</button></li>

					</ul>

				</form>
				</div>

				<!------------------------------------------------>
				<div ng-show="current==1">
				<form name="avaliacaoForm1"  class="panel panel-primary">

				  	<!-- Default panel contents -->
				  	<div class="panel-heading bg-primary"">Motivação</div>
					<div class="panel-body bg-info">
						<p>{{indicadores[1][0]}}</p>
					</div>

				 	<!-- List group -->
				  	<ul class="list-group">
				    	<li class="list-group-item"><span class="indicadorText">{{indicadores[1][1]}}</span>
					    	<select ng-required="true" class="indicadorValue form-control" ng-model="avalicao.motivacao1" name="indicador1">
					    		<option value=""></option>
					    		<option value="1">1</option>
					    		<option value="2">2</option>
					    		<option value="3">3</option>
					    		<option value="4">4</option>
					    	</select>
				        </li>
					    <li class="list-group-item"><span class="indicadorText">{{indicadores[1][2]}}</span>
					    	<select ng-required="true" class="indicadorValue form-control" ng-model="avalicao.motivacao2"  name="indicador2">
					    		<option value="" defaut></option>
					    		<option value="1">1</option>
					    		<option value="2">2</option>
					    		<option value="3">3</option>
					    		<option value="4">4</option>
					    	</select>
					    </li>
					    <li class="list-group-item"><span class="indicadorText">{{indicadores[1][3]}}</span>
					    	<select ng-required="true" class="indicadorValue form-control" ng-model="avalicao.motivacao3"  name="indicador3">
					    		<option value="" defaut></option>
					    		<option value="1">1</option>
					    		<option value="2">2</option>
					    		<option value="3">3</option>
					    		<option value="4">4</option>
					    	</select>
					    </li>
					    <li class="list-group-item"><span class="indicadorText">{{indicadores[1][4]}}</span>
					    	<select ng-required="true" class="indicadorValue form-control" ng-model="avalicao.motivacao4"  name="indicador4">
					    		<option value="" defaut></option>
					    		<option value="1">1</option>
					    		<option value="2">2</option>
					    		<option value="3">3</option>
					    		<option value="4">4</option>
					    	</select>
					    </li>
				  	</ul>				
				  	<ul class="pager">
					    <li ><button class="pager__button" ng-disabled="avaliacaoForm1.$invalid " ng-class="!teste ? 'btn btn-primary' : 'btn btn-default'" ng-show="!(current==0)" ng-click="previous()">Anterior</button></li>
					    
					    <li ><button class="pager__button"  ng-show='!(current==5)' ng-disabled="teste=(avaliacaoForm1.$invalid)" ng-class="!teste ? 'btn btn-primary' : 'btn btn-default'" ng-click="next()">Próximo</button></li>

					    
				</ul>

				</form>
				</div>
				<!------------------------------------------------>
				<div ng-show="current==2">
				<form name="avaliacaoForm2"  class="panel panel-primary">


				  	<!-- Default panel contents -->
				  	<div class="panel-heading bg-primary">Orientação para o Aprendizado</div>
					<div class="panel-body bg-info">
						<p>{{indicadores[2][0]}}</p>
					</div>

				 	<!-- List group -->
				  	<ul class="list-group">
				    	<li class="list-group-item"><span class="indicadorText">{{indicadores[2][1]}}</span>
					    	<select ng-required="true" class="indicadorValue form-control" ng-model="avalicao.oAprendizado1" name="indicador1">
					    		<option value=""></option>
					    		<option value="1">1</option>
					    		<option value="2">2</option>
					    		<option value="3">3</option>
					    		<option value="4">4</option>
					    	</select>
				        </li>
					    <li class="list-group-item"><span class="indicadorText">{{indicadores[2][2]}}</span>
					    	<select ng-required="true" class="indicadorValue form-control" ng-model="avalicao.oAprendizado2"  name="indicador2">
					    		<option value="" defaut></option>
					    		<option value="1">1</option>
					    		<option value="2">2</option>
					    		<option value="3">3</option>
					    		<option value="4">4</option>
					    	</select>
					    </li>
					    <li class="list-group-item"><span class="indicadorText">{{indicadores[2][3]}}</span>
					    	<select ng-required="true" class="indicadorValue form-control" ng-model="avalicao.oAprendizado3"  name="indicador3">
					    		<option value="" defaut></option>
					    		<option value="1">1</option>
					    		<option value="2">2</option>
					    		<option value="3">3</option>
					    		<option value="4">4</option>
					    	</select>
					    </li>
					    <li class="list-group-item"><span class="indicadorText">{{indicadores[2][4]}}</span>
					    	<select ng-required="true" class="indicadorValue form-control" ng-model="avalicao.oAprendizado4"  name="indicador4">
					    		<option value="" defaut></option>
					    		<option value="1">1</option>
					    		<option value="2">2</option>
					    		<option value="3">3</option>
					    		<option value="4">4</option>
					    	</select>
					    </li>
				  	</ul>
				  	  	<ul class="pager">
					    <li ><button class="pager__button" ng-disabled="avaliacaoForm2.$invalid " ng-class="!teste ? 'btn btn-primary' : 'btn btn-default'" ng-show="!(current==0)" ng-click="previous()">Anterior</button></li>
					    
					    <li ><button class="pager__button"  ng-show='!(current==5)' ng-disabled="teste=(avaliacaoForm2.$invalid)" ng-class="!teste ? 'btn btn-primary' : 'btn btn-default'" ng-click="next()">Próximo</button></li>

					    
				</ul>

				</form>
				</div>

				<!------------------------------------------------>
				<div ng-show="current==3">
				<form name="avaliacaoForm4"  class="panel panel-primary">


				  	<!-- Default panel contents -->
				  	<div class="panel-heading bg-primary"">Foco no Cliente</div>
					<div class="panel-body bg-info">
						<p>{{indicadores[0][0]}}</p>
					</div>

				 	<!-- List group -->
				  	<ul class="list-group">
				    	<li class="list-group-item"><span class="indicadorText">{{indicadores[3][1]}}</span>
					    	<select ng-required="true" class="indicadorValue form-control" ng-model="avalicao.focoCliente1" name="indicador1">
					    		<option value=""></option>
					    		<option value="1">1</option>
					    		<option value="2">2</option>
					    		<option value="3">3</option>
					    		<option value="4">4</option>
					    	</select>
				        </li>
					    <li class="list-group-item"><span class="indicadorText">{{indicadores[3][2]}}</span>
					    	<select ng-required="true" class="indicadorValue form-control" ng-model="avalicao.focoCliente2"  name="indicador2">
					    		<option value="" defaut></option>
					    		<option value="1">1</option>
					    		<option value="2">2</option>
					    		<option value="3">3</option>
					    		<option value="4">4</option>
					    	</select>
					    </li>
					    <li class="list-group-item"><span class="indicadorText">{{indicadores[3][3]}}</span>
					    	<select ng-required="true" class="indicadorValue form-control" ng-model="avalicao.focoCliente3"  name="indicador3">
					    		<option value="" defaut></option>
					    		<option value="1">1</option>
					    		<option value="2">2</option>
					    		<option value="3">3</option>
					    		<option value="4">4</option>
					    	</select>
					    </li>
					    <li class="list-group-item"><span class="indicadorText">{{indicadores[3][4]}}</span>
					    	<select ng-required="true" class="indicadorValue form-control" ng-model="avalicao.focoCliente4"  name="indicador4">
					    		<option value="" defaut></option>
					    		<option value="1">1</option>
					    		<option value="2">2</option>
					    		<option value="3">3</option>
					    		<option value="4">4</option>
					    	</select>
					    </li>
				  	</ul>
				  	  	<ul class="pager">
					    <li ><button class="pager__button" ng-disabled="avaliacaoForm3.$invalid " ng-class="!teste ? 'btn btn-primary' : 'btn btn-default'" ng-show="!(current==0)" ng-click="previous()">Anterior</button></li>
					    
					    <li ><button class="pager__button"  ng-show='!(current==5)' ng-disabled="teste=(avaliacaoForm3.$invalid)" ng-class="!teste ? 'btn btn-primary' : 'btn btn-default'" ng-click="next()">Próximo</button></li>

					    
				</ul>

				</form>
				</div>
				<!------------------------------------------------>

				<div ng-show="current==4">
				<form name="avaliacaoForm4"  class="panel panel-primary">


				  	<!-- Default panel contents -->
				  	<div class="panel-heading bg-primary"">Compromisso com o Resultado</div>
					<div class="panel-body bg-info">
						<p>{{indicadores[4][0]}}</p>
					</div>

				 	<!-- List group -->
				  	<ul class="list-group">
				    	<li class="list-group-item"><span class="indicadorText">{{indicadores[4][1]}}</span>
					    	<select ng-required="true" class="indicadorValue form-control" ng-model="avalicao.cResultado1" name="indicador1">
					    		<option value=""></option>
					    		<option value="1">1</option>
					    		<option value="2">2</option>
					    		<option value="3">3</option>
					    		<option value="4">4</option>
					    	</select>
				        </li>
					    <li class="list-group-item"><span class="indicadorText">{{indicadores[4][2]}}</span>
					    	<select ng-required="true" class="indicadorValue form-control" ng-model="avalicao.cResultado2"  name="indicador2">
					    		<option value="" defaut></option>
					    		<option value="1">1</option>
					    		<option value="2">2</option>
					    		<option value="3">3</option>
					    		<option value="4">4</option>
					    	</select>
					    </li>
					    <li class="list-group-item"><span class="indicadorText">{{indicadores[4][3]}}</span>
					    	<select ng-required="true" class="indicadorValue form-control" ng-model="avalicao.cResultado3"  name="indicador3">
					    		<option value="" defaut></option>
					    		<option value="1">1</option>
					    		<option value="2">2</option>
					    		<option value="3">3</option>
					    		<option value="4">4</option>
					    	</select>
					    </li>
					    <li class="list-group-item"><span class="indicadorText">{{indicadores[4][4]}}</span>
					    	<select ng-required="true" class="indicadorValue form-control" ng-model="avalicao.cResultado4"  name="indicador4">
					    		<option value="" defaut></option>
					    		<option value="1">1</option>
					    		<option value="2">2</option>
					    		<option value="3">3</option>
					    		<option value="4">4</option>
					    	</select>
					    </li>
				  	</ul>	

				  	  	<ul class="pager">
					    <li ><button class="pager__button" ng-disabled="avaliacaoForm4.$invalid " ng-class="!teste ? 'btn btn-primary' : 'btn btn-default'" ng-show="!(current==0)" ng-click="previous()">Anterior</button></li>
					    
					    <li ><button class="pager__button"  ng-show='!(current==5)' ng-disabled="teste=(avaliacaoForm4.$invalid)" ng-class="!teste ? 'btn btn-primary' : 'btn btn-default'" ng-click="next()">Próximo</button></li>

	
				</ul>			
				</form>
				</div>

				<!------------------------------------------------>
				<div ng-show="current==5">
				<form name="avaliacaoForm5"  class="panel panel-primary">

				  	<!-- Default panel contents -->
				  	<div class="panel-heading bg-primary"">Trabalho em equipe</div>
					<div class="panel-body bg-info">
						<p>{{indicadores[0][0]}}</p>
					</div>

				 	<!-- List group -->
				  	<ul class="list-group">
				    	<li class="list-group-item"><span class="indicadorText">{{indicadores[0][1]}}</span>
					    	<select ng-required="true" class="indicadorValue form-control" ng-model="avalicao.tEquipe1" name="indicador1">
					    		<option value=""></option>
					    		<option value="1">1</option>
					    		<option value="2">2</option>
					    		<option value="3">3</option>
					    		<option value="4">4</option>
					    	</select>
				        </li>
					    <li class="list-group-item"><span class="indicadorText">{{indicadores[0][2]}}</span>
					    	<select ng-required="true" class="indicadorValue form-control" ng-model="avalicao.tEquipe2"  name="indicador2">
					    		<option value="" defaut></option>
					    		<option value="1">1</option>
					    		<option value="2">2</option>
					    		<option value="3">3</option>
					    		<option value="4">4</option>
					    	</select>
					    </li>
					    <li class="list-group-item"><span class="indicadorText">{{indicadores[0][3]}}</span>
					    	<select ng-required="true" class="indicadorValue form-control" ng-model="avalicao.tEquipe3"  name="indicador3">
					    		<option value="" defaut></option>
					    		<option value="1">1</option>
					    		<option value="2">2</option>
					    		<option value="3">3</option>
					    		<option value="4">4</option>
					    	</select>
					    </li>
					    <li class="list-group-item"><span class="indicadorText">{{indicadores[0][4]}}</span>
					    	<select ng-required="true" class="indicadorValue form-control" ng-model="avalicao.tEquipe4"  name="indicador4">
					    		<option value="" defaut></option>
					    		<option value="1">1</option>
					    		<option value="2">2</option>
					    		<option value="3">3</option>
					    		<option value="4">4</option>
					    	</select>
					    </li>
				  	</ul>
				  	  	<ul class="pager">
					    <li ><button class="pager__button" ng-disabled="avaliacaoForm5.$invalid " ng-class="!teste ? 'btn btn-primary' : 'btn btn-default'" ng-show="!(current==0)" ng-click="previous()">Anterior</button></li>
					    					    
					    <li><button class="pager__button" ng-show='(current==5)' ng-disabled="teste=(avaliacaoForm5.$invalid)" ng-class="!teste ? 'btn btn-primary' : 'btn btn-default'" ng-click="enviarAvaliacao()">Concluir</button></li>
				</ul>				
				</form>
				</div>
				<!------------------------------------------------>		
		</div>

			<div class="row btnArea">
				<div class="col-sm-2">
					<button id="voltarEstagiarios" type="button" onclick="window.location ='#/listarEstagiarios'" class="voltar btn btn-default btn-block"><span class="glyphicon glyphicon-chevron-left"></span>Voltar</button>

				</div>
			</div>


		</div>
	</div>